In [1]:
import pickle

In [15]:
with open('data/X_train.pkl', 'rb') as f:
    data = pickle.load(f)
data

,template_id,msrp,bike_created_at_year,bike_created_at_month,bike_year,sales_duration,sales_country_id,bike_type_id,bike_category_id,mileage_code,...,color,family_model_id,family_id,brand_id,quality_score,is_mobile,currency_id,seller_id,is_ebike,is_frameset
id,,,,,,,,,,,,,,,,,,,,,
76662,1799,5333.0,2022,6,2018,201,<NA>,1,4,500_3000,...,#000000,1181,1107,21,25,0,2,15354,0,0
55636,55631,2199.0,2022,4,2012,252,<NA>,1,1,3000_10000,...,#ff0000,8358,1914,184,19,0,2,10825,0,0
75311,9981,2099.0,2022,5,2020,212,<NA>,1,1,500_3000,...,#D1D5DB,6169,1043,110,31,0,2,1780,0,0
76314,75633,4999.0,2022,6,2018,204,<NA>,1,4,500_3000,...,#EF4444,9012,2619,173,23,0,2,2340,0,0
39557,24347,3099.0,2022,3,2017,273,<NA>,1,1,500_3000,...,#ff0000,10177,795,14,27,0,2,8818,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32229,26638,3500.0,2022,1,2015,339,<NA>,1,1,3000_10000,...,#000000,11205,1164,39,27,0,2,4435,0,0
55557,9712,2099.0,2022,4,2020,252,150,1,1,less_than_500,...,#111827,5992,123,105,31,0,2,10602,0,0
34970,17945,4699.0,2022,2,2021,305,<NA>,1,1,less_than_500,...,#000000,540,<NA>,14,25,0,2,8225,0,0
33279,29401,4000.0,2022,2,2021,324,<NA>,1,1,more_than_10000,...,#FFFFFF,11321,737,30,27,0,2,7451,0,0
35575,24941,1399.0,2022,3,2018,301,<NA>,1,1,500_3000,...,#FFFFFF,10554,<NA>,105,25,0,2,8421,0,0

In [17]:
with open('data/X_test.pkl', 'rb') as f:
    test_data = pickle.load(f)
test_data

,template_id,msrp,bike_created_at_year,bike_created_at_month,bike_year,sales_duration,sales_country_id,bike_type_id,bike_category_id,mileage_code,...,color,family_model_id,family_id,brand_id,quality_score,is_mobile,currency_id,seller_id,is_ebike,is_frameset
id,,,,,,,,,,,,,,,,,,,,,
84497,1658,3219.0,2022,7,2019,167,150,1,1,3000_10000,...,#111827,1095,1108,21,25,0,2,17788,0,0
90776,1857,3499.0,2022,8,2021,137,150,1,1,500_3000,...,#3B82F6,1220,1101,21,33,0,2,20983,0,0
86179,16748,5600.0,2022,7,2022,160,150,1,1,500_3000,...,#3B82F6,8459,132,113,31,0,2,7591,0,0
81521,19544,1899.0,2022,7,2020,178,150,1,2,500_3000,...,#111827,8767,2375,227,25,0,2,6654,0,0
82786,1882,4999.0,2022,7,2021,173,150,1,1,500_3000,...,#FFFFFF,1237,1101,21,27,0,2,17788,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89326,1809,5259.0,2022,8,2020,145,150,1,4,less_than_500,...,#3B82F6,1187,1107,21,29,0,2,20261,0,0
85870,25741,1999.0,2022,7,2017,161,150,1,1,3000_10000,...,#111827,11100,1044,110,25,0,2,18825,0,0
87177,495,3799.0,2022,7,2017,155,150,1,1,3000_10000,...,#111827,26899,2753,13,17,0,2,19358,0,0
82019,1768,2729.0,2022,7,2021,176,150,1,2,500_3000,...,#111827,1162,1109,21,23,0,2,9545,0,0
82245,11721,2199.0,2022,7,2019,175,150,1,1,500_3000,...,#111827,7251,597,123,33,0,2,14655,0,0